@charset "UTF-8";

/* BEGIN COMPONENT STYLES */
.article {
  max-width: 800px;
  background: #f9f9f9;
  font-family: 'Open Sans';
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  hyphens: auto;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  color: #444;
}

.article .more-cta {
  color: salmon;
  text-decoration: none;
  text-transform: uppercase;
}

.article .more-cta:before {
  display: inline;
  pointer-events: none;
  margin-right: .35em;
  content: "→";
}

.article + .article {
  margin-top: 1em;
}

.article img {
  display: block;
  max-width: 100%;
}

.article-photo {
  display: none;
}

.article-header {
  padding: 10px;
}

.article-title {
  margin: 0 0 .3em;
  font-weight: 600;
  line-height: 1.2;
}

.article-title,
.article-title a {
  text-decoration: none;
  color: #282828;
}

.article-meta {
  font-size: .9em;
}

.article-byline {
  display: none;
}

.article-author {
  font-style: italic;
}

.article-author,
.article-author a {
  text-decoration: none;
  color: #444;
}

.article-published {
  font-size: .9em;
  color: #999;
}

.article-abstract {
  display: none;
  line-height: 1.5;
}

.article-abstract p {
  font-size: .95em;
  margin-bottom: 1em;
}

.article:first-of-type .article-photo,
.article:first-of-type .article-byline {
  display: block;
}

.article:first-of-type .article-byline {
  margin-bottom: .35em;
}

/* MEDIUM SIZE */
[data-eq-state~="article--medium"] {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

[data-eq-state~="article--medium"] .article-photo {
  flex: 0 0 30%;
}

[data-eq-state~="article--medium"] .article-photo {
  display: block;
}

[data-eq-state~="article--medium"] .article-header {
  padding: 0 0 0 15px;
}

[data-eq-state~="article--medium"] .article-title {
  margin-bottom: .1em;
  font-size: .9em;
  line-height: 1.4;
}

[data-eq-state~="article--medium"] .article-published {
  font-size: .8em;
}

[data-eq-state~="article--medium"]:first-of-type .article-byline {
  display: none;
}

/* LARGE SIZE */
[data-eq-state~="article--large"] {
  display: block;
}

[data-eq-state~="article--large"] .article-abstract,
[data-eq-state~="article--large"] .article-header {
  display: block;
  padding: 0 15px 15px;
}

[data-eq-state~="article--large"] .article-title {
  margin: .5em 0;
  font-size: 1.6em;
}

[data-eq-state~="article--large"] .article-meta {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

[data-eq-state~="article--large"] .article-byline {
  display: inline-block;
  margin-bottom: 0;
}

[data-eq-state~="article--large"] .article-published {
  font-size: .9em;
}
