* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1em;
}

body {
  padding: 2rem;
  background: #eee;
}

/* GRID FOR TESTING */
.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
}

.Grid {
  display: flex;
}

.Grid-Main,
.Grid-col {
  margin-right: 2rem;
}

.Grid-col:last-of-type {
  margin-right: 0;
}

.Grid-Collection {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.Grid-Main {
  width: 70%;
}

.Grid-Side {
  width: 30%;
}

/* MISC CLASSES */

.more-cta {
  color: salmon;
  text-decoration: none;
  text-transform: uppercase;
}

.more-cta:before {
  display: inline;
  pointer-events: none;
  margin-right: .35em;
  content: "→";
}

/* BEGIN COMPONENT STYLES */

.Article {
  max-width: 800px; // The maximum size image we'll pull down

  background: #f9f9f9;
  font-family: 'Open Sans';
  font-size: 1em;

  -webkit-font-smoothing: antialiased;
  hyphens: auto;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;

  color: #444;
}

.Article + .Article {
  margin-top: 1em;
}

.Article img {
  max-width: 100%;
}

.Article-photo {
  display: none;
}

.Article-header {
  padding: 10px;
}

.Article-title {
  margin: 0 0 .3em;
  font-weight: 600;
  line-height: 1.2;

  &, a {
    text-decoration: none;
    color: #282828;
  }
}

.Article-meta {
  font-size: .9em;
}

.Article-byline {
  display: none;
}

.Article-author {
  font-style: italic;

  &, a {
    text-decoration: none;
    color: #444;
  }
}

.Article-published {
  font-size: .9em;
  color: #999;
}

.Article-abstract {
  display: none;
  line-height: 1.5;
}

.Article-abstract p {
  font-size: .95em;
  margin-bottom: 1em;
}

.Article:first-of-type {
  .Article-photo,
  .Article-byline {
    display: block;
  }

  .Article-byline {
    margin-bottom: .35em;
  }
}

/* MEDIUM SIZE */

.Article[min-width="280px"] {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #eee;

  .Article-photo {
    flex: 0 0 30%;
  }

  .Article-photo {
    display: block;
  }

  .Article-header {
    padding: 0 0 0 15px;
  }

  .Article-title {
    margin-bottom: .1em;
    font-size: .9em;
    line-height: 1.4;
  }

  .Article-published {
    font-size: .8em;
  }
}

/* LARGE SIZE */
.Article[min-width~="440px"] {
  display: block;

  .Article-abstract,
  .Article-header {
    display: block;
    padding: 0 15px 15px;
  }

  .Article-title {
    margin: .5em 0;
    font-size: 1.6em;
  }

  .Article-meta {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .Article-byline {
    display: inline-block;
    margin-bottom: 0;
  }

  .Article-published {
    font-size: .9em;
  }
}
